@import "../sass/color";
@import "../sass/block/header";
@import "../sass/block/hero";
@import "../sass/block/actors";
@import "../sass/block/news";


*{
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
}


input{
    &:focus{
        border: none
    }
}

.container{
    max-width: 1110px;
    margin: 0 auto;
}


